#root {
    width: 100%;
    height: 100%;
}

html,
body {
    -webkit-app-region: drag;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100vh;
}
/* drag可能导致组件库的组件交互被拦截，请尽量在此通过css样式解决
 */
button,
input,
select,
textarea,
canvas, 
.no-drag {
    -webkit-app-region: no-drag;
}
